#include "/home/png261/.cache/wal/colors-mydwm.Xresources"

dwm.borderpx: 0 
dwm.snap: 32           
dwm.showbar: 1        
dwm.topbar: 1         
dwm.nmaster: 1
dwm.resizehints: 1    
dwm.mfact: 0.55      	 
dwm.gappx: 10
dwm.showsystray: 0     
dwm.systraypinning: 0
dwm.systrayonleft: 0
dwm.systrayspacing: 2
dwm.systraypinningfailfirst: 1

st.shell: zsh
st.alpha: 0.8
st.font: JetBrainsMono Nerd Font:pixelsize=16:antialias=true:autohint=true
st.borderpx: 2

dmenu.topbar: 1
dmenu.center: 1
dmenu.min_width: 600
dmenu.lineheight: 30
dmenu.lines: 10
dmenu.prompt:
dmenu.highlight: #ffc978
dmenu.border_width: 2
